<div class="banner-bottom">
  <div class="droop-down">
    <div class="droop">
      <div class="sort-by">
        <select class="sel">
          <option value="">CHOOSE YOUR HOTEL</option>
          <option value="">TAJ CLUB HOUSE</option>
          <option value="">TRIDENT GRAND</option>
          <option value="">THE PARK POD</option>   
        </select>
      </div>
    </div>
    <div class="radio-btns">
      <div class="swit">								
        <div class="check_box"> <div class="radio"> <label><input type="radio" name="radio" checked=""><i></i>Daily</label> </div></div>
                    <div class="check_box"> <div class="radio"> <label><input type="radio" name="radio"><i></i>Hourly</label> </div></div>							    
      </div>
    </div>
    <div class="search">
        <form action="search.html">
          <input type="submit" value="search">
        </form>	
    </div>
    <div class="clearfix"></div>
  </div>
</div>