<div class="banner-bottom">
  <div class="droop-down">
    <div class="droop">
      <label>Choose your Destination</label>
      <div class="sort-by">
        <select class="sel">
          <option value="">Which Country?</option>
          <option value="">India</option>
          <option value="">Pakistan</option>
          <option value="">U.S.A</option>
        </select>
          <select class="sel">
            <option value="">Which City?</option>
            <option value="">chennai</option>
            <option value="">Bangalore</option>
            <option value="">Mumbai</option>
          </select>
        </div>
    </div>
    <div class="radio-btns">
      <div class="swit">
       <label for="" class="form-control">CheckIn</label>
       
       
       
       <label for="" class="form-control">CheckOut</label>
      </div>
    </div>
    <div class="search">
      <form>
        <input type="submit" value="search" [routerLink]="['Hostel/search']">
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>