<!-- banner -->
<div class="banner">
	<div class="container">
		<app-header-navigation></app-header-navigation>
		<div class="banner-info">
			
			<div  id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="banner-text">
							<h3>WELCOME</h3>
							<h4>EXCELLENT SERVICES WITH BEST PRICE</h4>
						</div>
					</li>
					<li>
						<div class="banner-text">
							<h3>WELCOME</h3>
							<h4>RELAX AND EXPERIENCE SOMETHING NEW</h4>
						</div>
					</li>
					<li>
						<div class="banner-text">
							<h3>WELCOME</h3>
							<h4>FIND YOUR IDEAL HOTEL ON CLASSIC HOTEL</h4>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<app-header-search></app-header-search>
	</div>
</div>
<!-- //banner -->
<!-- banner-pos -->
