<div class="header-nav">
  <div class="logo">
    <h1><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Hostel</a></h1>
  </div>
  <div class="navigation">
    <span class="menu"><img src="assets/images/menu.png" alt=""/></span>
    <nav class="cl-effect-11" id="cl-effect-11">
      <ul class="nav1">
        <li><a class="active" href="index.html" data-hover="HOME">HOME</a></li>
        <li><a href="about.html" data-hover="ABOUT">ABOUT</a></li>
        <li><a href="typography.html" data-hover="SERVICES">SERVICES</a></li>
        <li><a href="booking.html" data-hover="BOOKING">BOOKING</a></li>
        <li><a href="contact.html" data-hover="CONTACT">CONTACT</a></li>
        <li><a routerLink="../admin/addHostel" data-hover="ADMIN">Admin</a></li>
        <li><a routerLink="../admin/filter" data-hover="FILTER">Filter</a></li>
        <li><a href="../admin/register" data-hover="SIGNUP">SignUp</a></li>
      </ul>
    </nav>
    </div>
  <div class="social-icons">
    <ul>
      <li><a href="#" class="f1"></a></li>
      <li><a href="#" class="f2"></a></li>
      <li><a href="#" class="f3"></a></li>
      <li><a href="#" class="f4"></a></li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
