<div class="search-page">
  <div class="container" style="color:gray">
    <div class="search-grids">
      <div class="col-md-3 ">
        <div>
          <a class="spl-btn-bor rating">{{hostelViewObject?.rating}}</a>
          <span>Superb </span>
          <a>
            <i class="fa fa-comment-o"></i>
            275 Total Reviews
          </a>
        </div>
        <ul class=" clearfix">
          <li>
            <span class="">
              <i class="fa fa-map-marker fa-flip-horizontal rounded"></i>
            </span>
            <span class="hwta-rating-factors-label">
              Perfect
              <b>Location</b>
            </span>
          </li>

          <li>
            <span class="">
              <i class="fa fa-user fa-flip-horizontal rounded"></i>
            </span>
            <span class="">
              Superb
              <b>Staff</b>
            </span>
          </li>

          <li>
            <span class="">
              <i class="fa fa-magic fa-rotate-180 rounded"></i>
            </span>
            <span class="">
              Fantastic
              <b>Cleanliness</b>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 text-left">
      <div>
        <h2>Property Description</h2>
      </div>
      <p>{{hostelViewObject?.description}}</p>
      <!-- <p>Undoubtedly the best location in Chennai for a backpacker located near the famous Marina Beach, T Nagar, Kapaleeswarar
        Temple, Express Mall, Theosophical Society, Besant Nagar, Ramakrishna Math, Yoga Mandir and all the famous monuments
        and tourist spots. A Bus station is just outside the hostel taking you to AIRPORT, PONDICHERRY, MAMALLAPURAM, CENTRAL
        STATION AND ALL OTHER PLACES OF IMPORTANCE at unbelievable prices.Chennai being a non party City we cater spiritual
        and silence seeking tourists and students. Our facilities include Free WiFi - Fully AC dorms - Great location - Spacious
        lockers - Clean toilets – Security cameras – TV Room -paid laundry - Free bottled drinking water - Money exchange
        - comfortable common areas. By staying with us you will save a lot of money on commuting expenses as we have a Bus
        depot outside the hostel.</p> -->
    </div>

    <div class="col-md-12">
      <div>
        <span>Read All Reviews</span>
      </div>
      <div>
        <img src="assets/images/13.jpg" class="img-responsive" />
      </div>
    </div>
    <div class="col-md-12">
      <h3>Check Availability</h3>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Dorm Beds
              <br> Prices are per bed</th>
            <th>Average price per night</th>
            <th>Beds</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Deluxe 6 Bed Mixed Dorm BEST BED PRICE Sleeps 6 Only 3 beds left!</td>
            <td>INR549.00 View price breakdown</td>
            <td>
              <select class="sel form-control">
                <option value="-1">choose</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Deluxe 6 Bed Mixed Dorm BEST BED PRICE Sleeps 6 Only 3 beds left!</td>
            <td>INR549.00 View price breakdown</td>
            <td>
              <select class="sel form-control">
                <option value="-1">choose</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Dorm Beds
              <br> Prices are per bed</th>
            <th>Average price per night</th>
            <th>Beds</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Deluxe 6 Bed Mixed Dorm BEST BED PRICE Sleeps 6 Only 3 beds left!</td>
            <td>INR549.00 View price breakdown</td>
            <td>
              <select class="sel form-control">
                <option value="-1">choose</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pull-right">
      <button type="submit" class="btn btn-danger">Book Now<i class="fa fa-angle-right"></i></button>
    </div>
  </div>
  <!-- container-->
  <!-- country display -->
  <div class="container-row">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <ul class="flag-lists">
            <li class="columns small-6 medium-4 large-2">
              <div class="flag flag-au"></div>
              <h5 class="country-name">Australia</h5>
              <p class="guests-counter">5+ Guests</p>
            </li>
            <li class="columns small-6 medium-4 large-2">
              <div class="flag flag-au"></div>
              <h5 class="country-name">Australia</h5>
              <p class="guests-counter">5+ Guests</p>
            </li>
            <li class="columns small-6 medium-4 large-2">
              <div class="flag flag-au"></div>
              <h5 class="country-name">Australia</h5>
              <p class="guests-counter">5+ Guests</p>
            </li>
            <li class="columns small-6 medium-4 large-2">
              <div class="flag flag-au"></div>
              <h5 class="country-name">Australia</h5>
              <p class="guests-counter">5+ Guests</p>
            </li>
            <li class="columns small-6 medium-4 large-2">
              <div class="flag flag-au"></div>
              <h5 class="country-name">Australia</h5>
              <p class="guests-counter">5+ Guests</p>
            </li>
            <li class="columns small-6 medium-4 large-2">
              <div class="flag flag-au"></div>
              <h5 class="country-name">Australia</h5>
              <p class="guests-counter">5+ Guests</p>
            </li>
          </ul>
          <!-- flag-lists --> 
        </div>
      </div>
    </div>
    <div class="triangle"></div>
  </div>
  <!-- container-row -->
</div>
