<div class="search-page">
  <div class="container" style="color:gray">
    <div class="search-grids">
      <div class="col-md-6 " *ngIf="hostelViewObject">
        <ngx-gallery [options]="galleryOptions" [images]="hostelViewObject?.hostel_id.images"></ngx-gallery>
      </div>
    </div>
    <div class="col-md-6 text-left">
      <div>
        <h3>Property Description</h3>
      </div>
      <p>{{hostelViewObject?.hostel_id.property_description}}</p>
    </div>
    <div class="col-md-12">
      <h3>Check Availability</h3>
      <div class="col-md-4">
        <label for="">Date</label>
        <ng-datepicker [(ngModel)]="checkInDate" #datePicker></ng-datepicker>
      </div>
      <div class="col-md-4">
        <label for="">Select Floors</label>
        <select class="sel form-control" [(ngModel)]="floor" (change)="setHostelRooms(floor)">
          <option value="" aria-hidden="">choose</option>
          <option *ngFor="let floor of hostelViewObject?.floors" [ngValue]="floor">{{floor.floor_no}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-12">
      <div>
        <label>Rooms</label>
        <ul class="nav nav-tabs" *ngIf="floor">
          <li *ngFor="let room of rooms" [class.active]="room.active">
            <a (click)="selectRoom(room)">{{room.room_number}}</a>
          </li>
        </ul>
        <div>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>
                  Room Type
                </th>
                <th>
                  Guests
                </th>
                <th>
                  Price
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{selectedRoom?.room_type}}</td>
                <td>{{selectedRoom?.guest}}</td>
                <td>{{selectedRoom?.price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h4>Available Service</h4>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>
                  Free Service
                </th>
                <th>
                  Paid Service
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let roomService of selectedRoom?.room_services">
                <td>
                  <div class="single-star-bottom booking-service" *ngIf="roomService?.free_service">
                    <input type="checkbox" id="{{roomService?.service.service_name}}" value="">
                    <label for="{{roomService?.service.service_name}}">
                      <span></span>
                      <span>{{roomService?.service.service_name}}</span>
                    </label>
                  </div>
                </td>
                <td>
                  <div class="single-star-bottom booking-service" *ngIf="!roomService?.free_service&&roomService?.service.service_name!='Base Service'">
                    <input type="checkbox" id="{{roomService?.service.service_name}}" value="">
                    <label for="{{roomService?.service.service_name}}">
                      <span></span>
                      <span>{{roomService?.service.service_name}}</span>
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pull-right"><button class="btn btn-default" (click)="selectBookingRoom(selectedRoom)">Apply&Continue</button></div>
        </div>

        <div>
          <h4>Your Rooms </h4>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Room Type</th>
                <th>N0.of Rooms</th>
                <th> No.of.Guest</th>
                <th>Total Room Price</th>
                <th>paid Service</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let room of selectedRooms">
                <td>{{room?.room_type}}</td>
                <td>{{room?.no_of_rooms}}</td>
                <td>{{room?.guest}}</td>
                <td>{{room?.total_room_price}}</td>
                <td>{{room?.paid_service}}</td>
                <td>{{room?.total_price}}</td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td>Total Price</td>
                <td>{{totalRoomPrice()}}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="pull-right">
          <button class="btn btn-danger">Book Now</button>
        </div>
      </div>
    </div>
    <!-- <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Dorm Beds
              <br> Prices are per bed</th>
            <th>Average price per night</th>
            <th>Beds</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Deluxe 6 Bed Mixed Dorm BEST BED PRICE Sleeps 6 Only 3 beds left!</td>
            <td>INR549.00 View price breakdown</td>
            <td>
              <select class="sel form-control">
                <option value="-1">choose</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Deluxe 6 Bed Mixed Dorm BEST BED PRICE Sleeps 6 Only 3 beds left!</td>
            <td>INR549.00 View price breakdown</td>
            <td>
              <select class="sel form-control">
                <option value="-1">choose</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table> -->
    <br>
    <!-- <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Dorm Beds
              <br> Prices are per bed</th>
            <th>Average price per night</th>
            <th>Beds</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Deluxe 6 Bed Mixed Dorm BEST BED PRICE Sleeps 6 Only 3 beds left!</td>
            <td>INR549.00 View price breakdown</td>
            <td>
              <select class="sel form-control">
                <option value="-1">choose</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table> -->

    <!-- <div class="pull-right">
      <button type="submit" class="btn btn-danger">Book Now
        <i class="fa fa-angle-right"></i>
      </button>
    </div> -->
  </div>
  <!-- container-->
  <!-- country display -->
  <div class="container-row">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <ul class="flag-lists">
            <li class="columns small-6 medium-4 large-2">
              <div class="flag flag-au"></div>
              <h5 class="country-name">Australia</h5>
              <p class="guests-counter">5+ Guests</p>
            </li>
            <li class="columns small-6 medium-4 large-2">
              <div class="flag flag-au"></div>
              <h5 class="country-name">Australia</h5>
              <p class="guests-counter">5+ Guests</p>
            </li>
            <li class="columns small-6 medium-4 large-2">
              <div class="flag flag-au"></div>
              <h5 class="country-name">Australia</h5>
              <p class="guests-counter">5+ Guests</p>
            </li>
            <li class="columns small-6 medium-4 large-2">
              <div class="flag flag-au"></div>
              <h5 class="country-name">Australia</h5>
              <p class="guests-counter">5+ Guests</p>
            </li>
            <li class="columns small-6 medium-4 large-2">
              <div class="flag flag-au"></div>
              <h5 class="country-name">Australia</h5>
              <p class="guests-counter">5+ Guests</p>
            </li>
            <li class="columns small-6 medium-4 large-2">
              <div class="flag flag-au"></div>
              <h5 class="country-name">Australia</h5>
              <p class="guests-counter">5+ Guests</p>
            </li>
          </ul>
          <!-- flag-lists -->
        </div>
      </div>
    </div>
    <div class="triangle"></div>
  </div>
  <!-- container-row -->
</div>