<div class="hotel-left">
  <a href="single.html">
    <span class="glyphicon glyphicon-bed" aria-hidden="true"></span>Grand Park Hyatt</a>
  <p>Jl. Pahlawan VII No.247-D Sidoarjo-Surabaya-Indonesia</p>
  <div class="hotel-left-grids">
    <div class="hotel-left-one">
      <!-- <a href="#single.html"> -->
        <!-- <img src="images/21.jpg" alt="" /> -->
        <ngx-gallery [options]= "galleryOptions" [images] = "galleryImages" ></ngx-gallery>
        <div>{{images}}</div>
      <!-- </a> -->
    </div>
    <div class="hotel-left-two">
      <div class="rating text-left">
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
      </div>
      <a href="single.html">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Diamond Street</a>
      <p>2.5 km to Sed ut perspiciatis
        <span> 2.6 km to sit voluptatem</span>
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>