
<form novalidate>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <ul id="sidebar" class="nav nav-stacked ">
                <li><a routerLink="/admin/addHostel" data-hover="Filter" class="menu-item">Admin</a></li>
                <li><a routerLink="/admin/filter" data-hover="Filter" class="menu-item">Filter</a></li>
                <li><a routerLink="/admin/services" data-hover="Services" class="menu-item">Services</a></li>
            </ul>
        </div>
<router-outlet></router-outlet>
</div>
</div>
</form>