<div class="row">
    <div class="col-sm-2">
        <ul id="sidebar" class="nav nav-stacked ">
            <li>
                <a routerLink="/admin/hostel/addHostel" data-hover="Filter" class="menu-item">Hostel</a>
            </li>
            <li>
                <a routerLink="/admin/filter" data-hover="Filter" class="menu-item">Filter</a>
            </li>
            <li>
                <a routerLink="/admin/services" data-hover="Services" class="menu-item">Services</a>
            </li>
        </ul>
    </div>
    <div class="admin-body">
        <router-outlet></router-outlet>
    </div>
</div>