<!-- <div *ngFor="let hostel of hostels">
    {{hostel | json }}
  </div> -->

<form novalidate>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
          <ul id="sidebar" class="nav nav-stacked ">
              <li><a routerLink="../../admin/addHostel" data-hover="Filter" class="menu-item">Admin</a></li>
              <li><a routerLink="../../admin/filter" data-hover="Filter" class="menu-item">Filter</a></li>
          </ul>
      </div>
      <div class="col-sm-9">

        <div class="pull-right add-button" [hidden]="clicked">
          <button class="btn btn-primary btn-sm" (click)="clicked=true">Add</button>
        </div>
        <div class="table table-responsive" [hidden]="clicked">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>State</th>
                <th>Street</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of hostels;let i=index;">
                <td>{{user.name}}</td>
                <td>{{user.country}}</td>
                <td>{{user.city}}</td>
                <td>{{user.state}}</td>
                <td>{{user.street}}</td>
                <td>{{user.email}}</td>
                <td>
                  <button class="btn btn-info btn-sm" (click)="update(user,i);clicked=true">Edit</button>
                  <button class="btn btn-danger btn-sm" (click)="delete(user,i)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="clicked" class="add-form">

          <div class="col-md-12">
            <div class="pull-right">
              <button class="btn btn-primary btn-sm" (click)="clicked=false">Back</button>
            </div>
          </div>

          <div class="form-row row">

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="hostel.name" name="name">
              </div>
              <div class="col-md-4 mb-3">
                <label>Country</label>
                <select class="form-control" [(ngModel)]="hostel.country" name="country">
                  <option *ngFor="let country of countries" [ngValue]="country.fieldName">{{country.dispName}}</option>
                  <!-- <option value="">Please select a country</option> -->
                </select>
              </div>
              <div class="col-md-4 mb-3">
                <label>City</label>
                <select class="form-control" [(ngModel)]="hostel.city" name="city">
                  <option *ngFor="let city of cities" [ngValue]="city.fieldName">{{city.dispName}}</option>
                  <!-- <option value="">Please select a city</option> -->
                </select>
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label>State</label>
                <select class="form-control" [(ngModel)]="hostel.state" name="state">
                  <!-- <option value="">Please select a state</option> -->
                  <option *ngFor="let state of states" [ngValue]="state.fieldName">{{state.dispName}}</option>
                </select>
              </div>

              <div class="col-md-4 mb-3">
                <label>Street</label>
                <input type="text" class="form-control" [(ngModel)]="hostel.street" name="street" placeholder="Street">
              </div>

              <div class="col-md-4 mb-3">
                <label>Property Type</label>
                <input type="text" class="form-control" [(ngModel)]="hostel.property_type" name="property_type" placeholder="Property Type">
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label> Email</label>
                <input type="email" class="form-control" [(ngModel)]="hostel.email" name="email" placeholder="Email">
              </div>

              <div class="col-md-4 mb-3">
                <label> Url</label>
                <input type="text" class="form-control" [(ngModel)]="hostel.url" name="url" placeholder="Url">
              </div>
              <div class="col-md-4 mb-3">
                <label> Cancellation Policy</label>
                <input type="text" class="form-control" [(ngModel)]="hostel.cancellation_policy" name="cancellation_policy" placeholder="Cancellation Policy">
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label>Longitude</label>
                <input type="text" class="form-control" [(ngModel)]="hostel.longitude" name="longitude" placeholder="Longitude">
              </div>
              <div class="col-md-4 mb-3">
                <label>Latitude</label>
                <input type="text" class="form-control" [(ngModel)]="hostel.latitude" name="latitude" placeholder="Latitude">
              </div>
              <div class="col-md-4 mb-3">
                <label>Language</label>
                <input type="text" class="form-control" [(ngModel)]="hostel.language" name="language" placeholder="Language">
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label>Default Currency</label>
                <input type="text" class="form-control" [(ngModel)]="hostel.default_currency" name="default_currency" placeholder="Default Currency">
              </div>
              <div class="col-md-4 mb-3">
                <label> City Rating</label>
                <input type="text" class="form-control" [(ngModel)]="hostel.city_rating" name="city_rating" placeholder="City Rating">
              </div>
              <div class="col-md-4 mb-3">
                <label>State Rating</label>
                <input type="text" class="form-control" [(ngModel)]="hostel.state_rating" name="state_rating" placeholder="State Rating">
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label>National Rating</label>
                <input type="text" class="form-control" [(ngModel)]="hostel.national_rating" name="national_rating" placeholder="National Rating">
              </div>

              <div class="col-md-4 mb-3">
                <label>World Rating</label>
                <input type="text" class="form-control" [(ngModel)]="hostel.world_rating" name="world_rating" placeholder="World Rating">
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label>Property Description</label>
                <textarea name="property_description" class="form-control" [(ngModel)]="hostel.property_description" cols="30" rows="3" placeholder="Property Description"></textarea>
              </div>
              <div class="col-md-4 mb-3">
                <label> Things to Note</label>
                <textarea name="things_to_note" class="form-control" [(ngModel)]="hostel.things_to_note" cols="30" rows="3" placeholder="Things to Note"></textarea>
              </div>
              <div class="col-md-4 mb-3">
                <label>Policy</label>
                <textarea name="policy" class="form-control" [(ngModel)]="hostel.policy" cols="30" rows="3" placeholder="Policy"></textarea>
                <!-- <input type="text" class="form-control" [(ngModel)]="hostel.policy" name="policy"> -->
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label>Wheel Chair Accomadate</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.wheel_chair_accomadate" name="wheel_chair_accomadate">
              </div>


              <div class="col-md-4 mb-3">
                <label>Breakfast Included</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.breakfast_included" name="breakfast_included">
              </div>
              <div class="col-md-4 mb-3">
                <label>Travel Desk</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.travel_desk" name="travel_desk">
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label>Hr Checkin</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.hr_checkin" name="hr_checkin">
              </div>

              <div class="col-md-4 mb-3">
                <label>Air Conditioning</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.air_conditioning" name="air_conditioning">
              </div>

              <div class="col-md-4 mb-3">
                <label>Internet Access</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.internet_access" name="internet_access">
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label>Laundry Service</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.laundry_service" name="laundry_service">
              </div>

              <div class="col-md-4 mb-3">
                <label>Card Payment Accepted</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.card_payment_accepted" name="card_payment_accepted">
              </div>

              <div class="col-md-4 mb-3">
                <label>Locker</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.locker" name="locker">
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label> Hot Water</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.hot_water" name="hot_water">
              </div>

              <div class="col-md-4 mb-3">
                <label> Water Dispenser</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.water_dispenser" name="water_dispenser">
              </div>

              <div class="col-md-4 mb-3">
                <label> Common Hangout Area</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.common_hangout_area" name="common_hangout_area">
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label> Common Television</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.common_television" name="common_television">
              </div>

              <div class="col-md-4 mb-3">
                <label> Free Breakfast</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.free_breakfast" name="free_breakfast">
              </div>

              <div class="col-md-4 mb-3">
                <label> Shower</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.shower" name="shower">
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label> Free Parking</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.free_parking" name="free_parking">
              </div>

              <div class="col-md-4 mb-3">
                <label> Reading Light</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.reading_light" name="reading_light">
              </div>
              <div class="col-md-4 mb-3">
                <label> Celing Fan</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.celing_fan" name="celing_fan">
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-4 mb-3">
                <label> Washing Machine</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.washing_machine" name="washing_machine">
              </div>

              <div class="col-md-4 mb-3">
                <label> House Keeping</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.house_keeping" name="house_keeping">
              </div>

              <div class="col-md-4 mb-3">
                <label> Checkin 24hrs</label>
                <input type="checkbox" class="pull-right" [(ngModel)]="hostel.checkin_24hrs" name="checkin_24hrs">
              </div>
            </div>

            <div class="col-md-12 mb">
              <div class="col-md-12 mb-3">
                <label> Upload Image</label>
                <input style="display: none" type="file" (change)="onFileSelected($event)" #uploadImageFile>
                <button (click)="uploadImageFile.click()">Pick File</button>
                <button (click)="onUploadFile(hostel)">Upload</button>
                <div *ngFor="let hostelImg of hostel.images">
                  {{hostelImg}}
                </div>
              </div>
            </div>
            <div class="col-md-12 mb">
              <div class="col-md-12 mb-3">
                <button class="btn btn-success" (click)="save(hostel,user);clicked=false;">Submit</button>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>

</form>