<!-- <p> -->
<!-- <label>Room Number</label>
<select [(ngModel)]="selectedRoom">
  <option *ngFor="let room of rooms">{{room.id}}</option>
</select> -->
<div>
  <h4>Lower Berth</h4>
  <br>
  <canvas #myCanvas width="1000" height="300" on-click="onEvent($event)">
  </canvas>
</div>
<div [hidden]="noOfBerths==1">
  <h4>Upper Berth</h4>
  <canvas #myCanvasUpper width="1000" height="300" on-click="onEventUpper($event)">
  </canvas>
</div>
<!-- <p>offsetX{{offsetX}} offsetY{{offsetY}}</p>
<p>offsetXUpper{{offsetXUpper}} offsetYUpper{{offsetYUpper}}</p> -->
<!-- </p> -->