<div class="welcome">
  <div class="container">
      <h2 class="tittle-one">WELCOME</h2>
      <div class="welcome-grids">
          <div class="col-md-4 welcome-left">
              <ul>
                  <li><a href="#">Lorem Ipsum is not simply random text.</a></li> 
                  <li><a href="#">There are many variations of passages.</a></li>
                  <li><a href="#">The standard chunk of Lorem Ipsum.</a></li>
              </ul>
          </div>
          <div class="col-md-4 welcome-middle">
              <ul>
                  <li><a href="#">Lorem Ipsum is not simply random text.</a></li>
                  <li><a href="#">There are many variations of passages.</a></li>
                  <li><a href="#">The standard chunk of Lorem Ipsum.</a></li>
              </ul>
          </div>
          <div class="col-md-4 welcome-right">
              <ul>
                  <li><a href="#">Lorem Ipsum is not simply random text.</a></li>
                  <li><a href="#">There are many variations of passages.</a></li>
                  <li><a href="#">The standard chunk of Lorem Ipsum.</a></li>
              </ul>
          </div>
          <div class="clearfix"></div>
      </div>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
          doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
          veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
</div>
<!-- //welcome -->
<!-- facilities -->

<div class="facilities">
  <div class="container">
      <h3 class="tittle">FACILITIES</h3>
      <div class="facilities-grids">
          <div class="col-md-6 facilities-grid">
              <img src="images/222.jpg" alt="" />
          </div>
          <div class="col-md-6 facilities-grid-left">
              <div class="fac-grids">
                  <div class="facilities-left">
                      <img src="images/111.jpg" alt="" />
                  </div>
                  <div class="facilities-right">
                      <img src="images/333.jpg" alt="" />
                  </div>
                  <div class="clearfix"></div>
              </div>
              <div class="fac-rig-btm">
                  <img src="images/444.jpg" alt="" />
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
  </div>
</div>
<!-- //facilities -->
<!-- services -->
<div class="feature-serv">
  <div class="container">
      <h3 class="tittle">FEATURED SERVICES</h3>
      <div class="services-bottom-grids">
          <div class="col-md-4 services-bottom-grid">
              <div class="services-bottom-grd-left wel-grid">
                  <div class="time-service">
                      <figure class="icon">
                          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                      </figure>
                  </div>
              </div>
              <div class="services-bottom-grd-right">
                  <h4>dolorem eum fugia</h4>
                  <p>To take a trivial example, which of us ever undertakes laborious 
                      physical exercise, except to obtain.</p>
              </div>
              <div class="clearfix"> </div>
          </div>
          <div class="col-md-4 services-bottom-grid">
              <div class="services-bottom-grd-left wel-grid btm-gre">
                  <div class="time-service">
                      <figure class="icon">
                          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      </figure>
                  </div>
              </div>
              <div class="services-bottom-grd-right">
                  <h4>dolorem eum fugia</h4>
                  <p>To take a trivial example, which of us ever undertakes laborious 
                      physical exercise, except to obtain.</p>
              </div>
              <div class="clearfix"> </div>
          </div>
          <div class="col-md-4 services-bottom-grid">
              <div class="services-bottom-grd-left wel-grid">
                  <div class="time-service">
                      <figure class="icon">
                          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      </figure>
                  </div>
              </div>
              <div class="services-bottom-grd-right">
                  <h4>dolorem eum fugia</h4>
                  <p>To take a trivial example, which of us ever undertakes laborious 
                      physical exercise, except to obtain.</p>
              </div>
              <div class="clearfix"> </div>
          </div>
          <div class="col-md-4 services-bottom-grid">
              <div class="services-bottom-grd-left wel-grid btm-gre">
                  <div class="time-service">
                      <figure class="icon">
                          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                      </figure>
                  </div>
              </div>
              <div class="services-bottom-grd-right">
                  <h4>dolorem eum fugia</h4>
                  <p>To take a trivial example, which of us ever undertakes laborious 
                      physical exercise, except to obtain.</p>
              </div>
              <div class="clearfix"> </div>
          </div>
          <div class="col-md-4 services-bottom-grid">
              <div class="services-bottom-grd-left wel-grid">
                  <div class="time-service">
                      <figure class="icon">
                          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                      </figure>
                  </div>
              </div>
              <div class="services-bottom-grd-right">
                  <h4>dolorem eum fugia</h4>
                  <p>To take a trivial example, which of us ever undertakes laborious 
                      physical exercise, except to obtain.</p>
              </div>
              <div class="clearfix"> </div>
          </div>
          <div class="col-md-4 services-bottom-grid">
              <div class="services-bottom-grd-left wel-grid btm-gre">
                  <div class="time-service">
                      <figure class="icon">
                          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                      </figure>
                  </div>
              </div>
              <div class="services-bottom-grd-right">
                  <h4>dolorem eum fugia</h4>
                  <p>To take a trivial example, which of us ever undertakes laborious 
                      physical exercise, except to obtain.</p>
              </div>
              <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
      </div>
  </div>
</div>
<!-- //services -->
<!-- gallery -->
<div class="gallery" id="gallery">
  <div class="container">
      <h3 class="tittle">GALLERY</h3>
      <div class="gallery-bottom">
          <div class="col-md-4 gal-grid">
              <div class="view view-fifth">
                  <a href="images/aaa.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/aaa.jpg" alt="" class="img-responsive">
                      <div class="mask">
                          <h4>CLASSIC HOTEL</h4>
                          <p>A wonderful serenity has taken possession of my entire soul.</p>
                          <span>More</span>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-4 gal-grid">
              <div class="view view-fifth">
                  <a href="images/bbb.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/bbb.jpg" alt="" class="img-responsive">
                      <div class="mask">
                          <h4>CLASSIC HOTEL</h4>
                          <p>A wonderful serenity has taken possession of my entire soul.</p>
                          <span>More</span>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-4 gal-grid">
              <div class="view view-fifth">
                  <a href="images/ccc.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/ccc.jpg" alt="" class="img-responsive">
                      <div class="mask">
                          <h4>CLASSIC HOTEL</h4>
                          <p>A wonderful serenity has taken possession of my entire soul.</p>
                          <span>More</span>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-4 gal-grid">
              <div class="view view-fifth">
                  <a href="images/ddd.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/ddd.jpg" alt="" class="img-responsive">
                      <div class="mask">
                          <h4>CLASSIC HOTEL</h4>
                          <p>A wonderful serenity has taken possession of my entire soul.</p>
                          <span>More</span>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-4 gal-grid">
              <div class="view view-fifth">
                  <a href="images/eee.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/eee.jpg" alt="" class="img-responsive">
                      <div class="mask">
                          <h4>CLASSIC HOTEL</h4>
                          <p>A wonderful serenity has taken possession of my entire soul.</p>
                          <span>More</span>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-4 gal-grid">
              <div class="view view-fifth">
                  <a href="images/bbb.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/bbb.jpg" alt="" class="img-responsive">
                      <div class="mask">
                          <h4>CLASSIC HOTEL</h4>
                          <p>A wonderful serenity has taken possession of my entire soul.</p>
                          <span>More</span>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-4 gal-grid">
              <div class="view view-fifth">
                  <a href="images/ggg.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/ggg.jpg" alt="" class="img-responsive">
                      <div class="mask">
                          <h4>CLASSIC HOTEL</h4>
                          <p>A wonderful serenity has taken possession of my entire soul.</p>
                          <span>More</span>
                      </div>
                  </a>
              </div>
          </div>

          <div class="col-md-4 gal-grid">
              <div class="view view-fifth">
                  <a href="images/bbb.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/bbb.jpg" alt="" class="img-responsive">
                      <div class="mask">
                          <h4>CLASSIC HOTEL</h4>
                          <p>A wonderful serenity has taken possession of my entire soul.</p>
                          <span>More</span>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-4 gal-grid">
              <div class="view view-fifth">
                  <a href="images/aaa.jpg" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="images/aaa.jpg" alt="" class="img-responsive">
                      <div class="mask">
                          <h4>CLASSIC HOTEL</h4>
                          <p>A wonderful serenity has taken possession of my entire soul.</p>
                          <span>More</span>
                      </div>
                  </a>
              </div>
          </div>
          <div class="clearfix"> </div>
      </div>
      <script src="js/jquery.chocolat.js"></script>

      <!--light-box-files -->
      <script type="text/javascript">
                  $(function () {
                      $('.gallery a').Chocolat();
                  });
      </script>

  </div>
</div>