/* You can add global styles to this file, and also import other style files */
.noUi-connect {
    background: #DF1E1C !important;
}
.hostel-label{
    line-height: 1.8em;
    color: #000;
    font-size: 13px;
    margin: 20px 0 0 0;
}
.ngx-datepicker-calendar-container.ngx-datepicker-position-bottom-right {
    z-index: 999;
}
.add-button{
    margin-top: 10px;
    margin-bottom: 10px;
}
.add-form{
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-item{
    color:black;
}
.mb{
    margin-bottom: 10px;
}

.login-form{
    background-color: #ECCA69 !important;
}

.register-form{
    background-color: #ECCA69 !important;
}

.dropdown:hover {
    cursor: pointer;
}
.navigation ul {
    top: 54px !important;
    z-index: 0 !important;
}
