<div class="welcome">
  <div class="container">
    <form class="form-horizontal">
      <div class="col-sm-12 well register-form">
        <div class="form-row row">

          <div class="col-md-12 mb">
            <div class="col-md-6 mb-3 mb">
              <label>Name</label>
              <input type="text" class="form-control" [(ngModel)]="register.name" placeholder="Name" name="name">
            </div>
            <div class="col-md-6 mb-3 mb">
              <label>Email</label>
              <input type="email" class="form-control" [(ngModel)]="register.email" placeholder="Email" name="email">
            </div>
            <div class="col-md-6 mb-3 mb">
              <label>Password</label>
              <input type="text" class="form-control" [(ngModel)]="register.password" placeholder="Password" name="password">
            </div>
            <div class="col-md-6 mb-3 mb">
              <label>Confirm Password</label>
              <input type="text" class="form-control" [(ngModel)]="register.confirmpassword" placeholder="Confirm Password" name="confirmpassword">
            </div>
            <div class="col-md-6 mb-3 mb">
              <label>Primary Phone</label>
              <input type="text" class="form-control" [(ngModel)]="register.primaryphone" placeholder="Primary Phone" name="primaryphone">
            </div>
            <div class="col-md-6 mb-3 mb">
              <label>Secondary Phone</label>
              <input type="text" class="form-control" [(ngModel)]="register.secondaryphone" placeholder="Secondary Phone" name="secondaryphone">
            </div>
            <div class="col-md-6 mb-3 mb">
              <label>Gender</label>
              <input type="radio" placeholder="Gender" [(ngModel)]="register.gender" name="gender" value="male">Male
              <input type="radio" placeholder="Gender" [(ngModel)]="register.gender" name="gender" value="female">Female
            </div>

            <div class="col-md-12 text-center">
              <button class="btn btn-danger btn-sm" (click)="save(register)">Submit</button>
            </div>

          </div>
          
        </div>
        <div class="container">
            If you registered
            <a routerLink="../../hostel/login" data-hover="Login">Login Here</a>
          </div>
      </div>
    </form>
  </div>
</div>