<div class="container">
  <form class="form-horizontal">
    <div class="col-sm-12 add-form">
      <div class="form-row row">

        <div class="col-md-12 mb">
          <div class="col-md-6 mb-3 mb">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="register.user_name" placeholder="Name" name="name">
          </div>
          <div class="col-md-6 mb-3 mb">
            <label>Email</label>
            <input type="email" class="form-control" [(ngModel)]="register.email" placeholder="Email" name="email">
          </div>
          <div class="col-md-6 mb-3 mb">
            <label>Password</label>
            <input type="text" class="form-control" [(ngModel)]="register.password" placeholder="Password" name="password">
          </div>
          <div class="col-md-6 mb-3 mb">
            <label>Confirm Password</label>
            <input type="text" class="form-control"  placeholder="Confirm Password" name="confirmpassword">
          </div>
          <div class="col-md-6 mb-3 mb">
            <label>Primary Phone</label>
            <input type="text" class="form-control" [(ngModel)]="register.primary_phone" placeholder="Primary Phone" name="primaryphone">
          </div>
          <div class="col-md-6 mb-3 mb">
            <label>Secondary Phone</label>
            <input type="text" class="form-control" [(ngModel)]="register.secondary_phone" placeholder="Secondary Phone" name="secondaryphone">
          </div>
          <div class="col-md-6 mb-3 mb">
            <label>Gender</label>
            <input type="radio" placeholder="Gender" [(ngModel)]="register.gender" name="gender" value="male">Male
            <input type="radio" placeholder="Gender" [(ngModel)]="register.gender" name="gender" value="female">Female
          </div>

          <div class="col-md-12">
            <button class="btn btn-success btn-sm" (click)="save(register)">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>