<form novalidate class="form-horizontal">

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
          <ul id="sidebar" class="nav nav-stacked ">
              <li><a href="#" class="menu-item">Admin</a></li>
              <li><a href="#" class="menu-item">Filter</a></li>
          </ul>
      </div>
      <div class="col-sm-9 add-form">
        <div class="form-group">
          <label class="col-sm-2">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" 
            placeholder="File Name" [(ngModel)]="filter.field_name" name="fileName">
          </div>
        </div>

        <input #textbox type="checkbox" [(ngModel)]="subtitle" unchecked>

        <div class="form-group" *ngIf="textbox.checked">
          <label class="col-sm-2">Subtitle</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Subtitle"  [(ngModel)]="filter.sub_title" name="subtitle">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2">Filter UI Type</label>
          <div class="col-sm-10">
            <input type="radio"  [(ngModel)]="filter.view_type" value="textBox" name="view_type">Textbox
            <input type="radio"  [(ngModel)]="filter.view_type" value="slider" name="view_type">Slider
            <input type="radio"  [(ngModel)]="filter.view_type" value="datePicker" name="view_type">Date Picker
            <input type="radio"  [(ngModel)]="filter.view_type" value="checkBox" name="view_type">Checkbox
            <input type="radio"  [(ngModel)]="filter.view_type" value="radioButton" name="view_type">Radio Button
            <input type="radio"  [(ngModel)]="filter.view_type" value="selectBox" name="view_type"> Select Box
          </div>
        </div>

        <button class="btn btn-primary btn-sm" (click)="addFilter()">+</button>
        <br>
        <br/>

        <table>
          <tr *ngFor="let filter_type of filter.filter_types">
            <td>
              <input type="text" class="form-control" [(ngModel)]="filter_type.filter_name" name="filter_name" placeholder="Filter Name">
            </td>&nbsp;&nbsp;
            <td>
              <!-- <button class="btn btn-primary btn-sm">Edit</button> -->
              <button class="btn btn-danger btn-sm">Delete</button>
            </td><br><br/> 
          </tr>
        </table>

        <button class="btn btn-success btn-save" (click)="save(filter)">Save</button>

      </div>
    </div>
  </div>
</form>