<!-- <p>
  rooms works!
</p> -->
<div class="row" id="rooms">
  <div class="col-md-12">
    <section class="panel">
      <!-- <div *ngFor="let hostel of hostels; let i=index"> -->
      <div>
        <div class="col-md-3">
          <label>Hostels</label>
          <select class="form-control" [(ngModel)]="hostel.hostel_id" (change)="setFloor(hostel)">
            <option value="" selected hidden>Select Hostel</option>
            <option *ngFor="let hostel_list of hostelLists" [ngValue]="hostel_list">{{hostel_list.name}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label>Floors</label>
          <select class="form-control" [(ngModel)]="floor.floor_no" (change)="selectFloor($event.target.value)">
            <option *ngFor="let floorList of floorsList">{{floorList}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label>No Of Rooms</label>
          <input type="text" class="form-control" [(ngModel)]="floor.no_of_rooms" (keyup)="checkRoom(floor)">
        </div>
        <!-- <div class="col-md-3">
          <label>Services</label>
          <ng-multiselect-dropdown [placeholder]="'Select Services'" [data]="services" [(ngModel)]="selectedServices" [settings]="dropdownSettings"
            (onSelect)="onServiceSelect($event)" (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div> -->
        <div class="panel-heading col-md-3">
          <button class="btn btn-success btn-sm" (click)="createRooms(floor)">Create Rooms</button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Room No</th>
              <th>No Of Beds</th>
              <th>View Type</th>
              <th>Status</th>
              <th>Add Service</th>
            </tr>
          </thead>
          <tbody *ngFor="let room of floor.rooms; let floorIndex= index">
            <tr>
              <td>
                <input class="form-control" [(ngModel)]="room.room_number">
              </td>
              <td>
                <select class="form-control" [(ngModel)]="room.no_of_beds">
                  <option *ngFor="let noOfBed of noOfBeds">{{noOfBed}}</option>
                </select>
              </td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{room.view_type ? room.view_type.img : null}}"> {{room.view_type ? room.view_type.label : null}}
                    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li *ngFor="let viewType of viewTypes">
                      <a title="Select this card" (click)="selectViewType(viewType,room)">
                        <img src="{{viewType.img}}">{{viewType.label}}</a>
                    </li>
                  </ul>
                </div>
              </td>
              <td>
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="room.is_active">
                  <span class="slider round"></span>
                </label>
              </td>
              <td>
                <button class="btn btn-success btn-sm" (click)="showService=floorIndex">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="5">             
                 <div [class.collapse]="showService!=floorIndex">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>
                        Service Name
                      </th>
                      <th>
                        Amount/Month
                      </th>
                      <th>
                        Amount/Day
                      </th>
                      <th>
                        Amount/Week
                      </th>
                      <th>
                        Free Service
                      </th>
                      <th><button class="btn btn-xs btn-success" (click)="addService(room)"><span><i class="fa fa-plus"></i></span></button></th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let roomService of room.room_services; let roomIndex=index;">
                          <td>
                              <ng-select [items]="services" [(ngModel)]="roomService.service" class="custom" [addTag]="true" bindLabel="service_name" [loading]="false">
                                </ng-select>
                          </td>
                          <td>
                            <input type="text" class="form-control"   [(ngModel)]="roomService.amount_per_month">
                          </td>
                          <td>
                            <input type="text" class="form-control" name="amount_per_day"  
                            [(ngModel)]="roomService.amount_per_day" 
                            *ngIf="roomService?.free_service==false||!(roomService?.free_service)">
                          </td>
                          <td>
                            <input type="text" class="form-control" name="amount_per_week"  
                            [(ngModel)]="roomService.amount_per_week"
                             *ngIf="roomService?.free_service==false||!(roomService?.free_service)">
                          </td>
                          <td>
                            <input type="checkbox"  class="checkbox" name="free_service" 
                            [(ngModel)]="roomService.free_service">
                          </td>
                          <td>
                            <button class="btn btn-xs btn-danger" (click)="deleteService(room,roomIndex)">
                              <i class="fa fa-close"></i>
                            </button>
                          </td>
                        </tr>
                  </tbody>
                </table>
              </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-success" (click)="applyFloor(hostel,floor)">Apply&Continue</button>
        <button class="btn btn-success btn-sm pull-right" (click)="saveHostel(hostel,floor); newHostel=false">Save</button>
        <button class="btn btn-danger btn-sm pull-right" (click)="cancelEdit(hostel)">Cancel</button>
      </div>
      <!-- <div [hidden]="newHostel">
        <table class="table table-stripped">
          <thead>
            <tr>
                <th>S.No</th>
                <th>Room No</th>
                <th>No Of Beds</th>
                 <th>View Type</th>
                 <th>Status</th>
            </tr>
            <tr *ngFor="let room of hostelRooms?.rooms; let i= index">
              <td>{{i+1}}</td>
              <td>{{room.room_number}}</td>
              <td>{{room.no_of_beds}}</td>
              <td>{{room.view_type.label}}</td>
              <td>{{room.isActive ==true ? Active : Inactive}}</td> 
              <td>
                <button class="btn btn-success btn-xs" (click)="editHostel(hostel)">Edit</button>
                <button class="btn btn-danger btn-xs" (click)="deleteHostel(i)">Delete</button>
              </td>
            </tr>
          </thead>
        </table>
      </div> -->
      <!-- </div> -->
    </section>
</div>
</div>
